<!DOCTYPE html>
<!--
                         .                 .          .                                      ..     
    .                                               .                                               
         .                                                                .   .          .          
                     .                          .       .               .                           
                                                                                                    
                             .                                 .                                    
     .    . .                     ..               .                                                
            .     .            .   . .   .          ...-=+++=..                                .    
                .                       . ...     ..=#-:-=+##..                                .    
         .          ...:-::...          ..+#+:....:#:-%=::..      . ....:::...                      
   .                .#%####%@@@*:..     .#:::::+=:#+*:::::#.   ...+%@@%####%*.                      
       .           .+%#######*=:=%%+..  :=::::::::::::::::+:.=%#=:*#########@+.               .     
                  ..%######*=:::::::=%+.:+=:::--:::::::::+@#=::::::-+########@.                     
                  .+@####*=:::::::::::-#%=-*=:---#*-=:=+--%::::::::::-+######@+.                   .
             .    .*%*+=-:::::::::::::::=+:::::::::::::::=%:::::::::::::-=+*#%#..        .          
   .          .  ..#-::::::::::::::::::=#@#=:::::::::::=#@*::::::::::::::::::=%.                    
                 ..#:::::::::::::::::::::-@+:=*@###%#*=-#-:-:::::::::::::::::=%.   .                
      .           .*:::::::::::::::::::::-##@%#=--::#%%%-::::::::::::::::::::-%.          ..    .   
    .    .  ..   ..#:::::::::::::::::::::--%#-::--::-*#-:::::::::::::::::::::=%.                    
             .   ..%::::::::::::::::::::::::**::::::+#-::::::::::::::::::::::=%.                    
      .          ..@-:::-::::::::::--=--:::::*-::::=*::::::+::::::::::::::=::+@.                    
                  .@+:%#::::::::-@@+...-%@-:::::::::::::=**#:::::::::::::::*%#%.                    
     .         .  .%%@-::::::::+%:--:::::-@#=-:::::::---*%%+%%%%#=::::::::::=@%.        .           
   .   .          .*%:::::::-=+@-:..:.....+@+++#%-:::-+#*-:::+%*-#:::::::::::=@.              .  .  
           ..     .%=------%#**@..:.:....:+@=-:::::::::-%+::-#+.*:::::::::----+#..                  
   .      ..=:....-#::::::-#***@-...:::::.#*::::=-:::::*:=%*%#+=::-+-::::::::::%+.  .:.             
            ..--=+@##*+=-::=::-=@#:.....=%**##%#-=#####-::=#::::-=====+++**####@%+**=..        .    
           .     :@=---+*++*-:::::+*###*=:+%#*-::::::::::::::::*.........:-+=--+%..                 
             ..:-+@#+-:::::=::::::::::::*%%#-::::::::::::::::::+:-:..........-++%..             .   
             .:..:@-:::::::=:::::::::-#%%#::::::::::::::::::::-+....:------:::-+@-+*:               
                 .%+----:::=::::::::=%%#::::::::::::::::::::::-*.::::::::::...*+%....              .
             .....+@%%#**#++-+#***::::::::::::::::::::::::::::-*::::::::::..:==%@%%@*:..            
             .:#::+-=*#*::*:.##==##=+*::::::::::::::::::::::::-*:::::::::..::#@+::::::%*..          
          ..:#..:+.::...-.=#..:#+=*#=#::::::::::::::::::::::::-*::::::::..::*%-:::::::::%=.         
    .     .==.....:=+++++=:.....-%#==#+::::::::::::::::::::::::*::::::::.:.+-::::::::::::%+.        
       .:%+*:::..:::.....:::::-=+*%#%@%%####%%%%%#%%%%%%##%%%##*:-:::::::.+=:::::::::::::*%. .      
   . ..=%%*+++***######%%%%%%######%@@@%#*+*#%%##*#%@@#*+*#%%#*#:-------:*=:::#*=%+::::::=%.        
     .:%%%%%%%%%%%@%%@@@@@@@@@@@@@@@@@@%#**#%%%%#*##%%%%**#%%%***:::--:.++:::+=. .*-:::::#+.        
     . ....-@%%%%%@%%%%%%%%@%%%%%%@@@%%%#+*##%%#*+*#%%%#+*#%%%%#%#*=+*#%@%#+--%-..=#::::=*..        
        .  -@%%%%%@%%%%%%%%@%%%%%%@@%@@%#**#%%%%#*#%%%%#*+##%%#*+#:-%@@%%%%%%@*+%:.-%*##=.          
           .+@%%%%%%%%%%%%%%%%%%%@@#%%%%*+*#%%%#*+*#%%%#**#%%%%#**.=@@@@%%%%%%%%:#-. ..             
       .     .=#%%%%%%%%%%@@@@@@%@#*#%@@%###%%%%#**#%%%#*+#%@@%##=.#@%%%%%%%%%%@%:*:.               
                 .  ..=@%%%%%%%%@@#####@=::::::::-----=--%#######:@%%%%%%%%%%%%%%:=#.               
        .              .#@%%%%%%@%%%%%%%#::::::::::::::::%%%%%%%+:@%%%%%%%%%%%%%@--#.               
                        ..*@%%%@%#######%:::::::::::::::#%%%%%%*.:@@%%%%%%%%%%%%%:+=.               
   . .         .          ....=%#**#****%=:::::::::::::-%*+**#+:.=%%@@@%%%%%%%%@-:#..       . .  .  
              .   .         ..#@%%#%%###%%:::::::::::::=%#######%@@%%%%%%%%%%%@--%: .               
    .                       .=%%%%%%%%%%%@-::::::::::::+@%%%%%%%%%%%%%%%%%%%@*:#*..                 
   .  .                    ..#=%*########@+::::::::::::+%##%%#####:=@@@@@@#=:*%:..         .        
    .                      .:#:*%@@@@@@@@@*::::::::::::=@@%%@@%%%#:::**:::-##:..               .    
                           .#=::**##%%@%%#=::::::::::::-%%#%%@%%%+::::%-*@#:..              .       
                           -@:::::::::::::::::::::::::::::::::::::::::+@-.               .          
                 .    .    +%:::::::::::::::::::::::::::::::::::::::::-@-                           
             .            .%+::::::::::::::::::::::::::::::::::::::::::@*.                          
             .            :@-::::::::::::::::::::::::::::::::::::::::::+%.                          

                     ░█████╗░███████╗░░█████╗░░█████╗██░░╔███╗███████░░█████╗
                     ██╔══██╗██╔══██║██╔══██╗██╔══██╗██░╔████║██╔════╗██╔══██╗
                     ██║░░╚═╝██║░░██║███████║██║░░╚═╝██╔██╝██║███████║██║░░██║
                     ██║░░██╗██║░░██║██╔══██║██║░░██╗████╝░██║██║░░██║██║░░██║
                     ╚█████╔╝██║░░██║██║░░██║╚█████╔╝███╝░░██║███████║╚█████╔╝
                     ░╚════╝░╚═╝░░╚═╝╚═╝░░╚═╝░╚════╝░╚══╝░░╚═╝░╚═════╝░╚════╝░

              ███╗░░██╗███████╗██╗░░██╗██████╗░░█████╗░  ██████╗░░█████╗░░░███╗░░░█████╗
              ████╗░██║██╔════╝██║░██╔╝██╔══██╗██╔══██╗  ╚════██╗██╔══██╗░████║░░██╔══██╗
              ██╔██╗██║█████╗░░█████═╝░██████╔╝██║░░██║  ░░███╔═╝██║░░██║░░░██║░░░█████░║
              ██║╚████║██╔══╝░░██╔═██╗░██╔══██╗██║░░██║  ██╔══╝░░██║░░██║░░░██║░░██║░░██║
              ██║░╚███║███████╗██║░╚██╗██║░░██║╚█████╔╝  ███████╗╚█████╔╝███████╗╚█████╔╝
              ╚═╝░░╚══╝╚══════╝╚═╝░░╚═╝╚═╝░░╚═╝░╚════╝░  ╚══════╝░╚════╝░╚══════╝░╚════╝░
-->


<html lang="ru">
<head>

<style>
    .logo {
      display: flex;
      align-items: center;
    }

    .logo img {
      height: 40px;
      margin-right: 10px;
    }

    .logo span {
      font-size: 20px; 
      font-weight: bold;
    }

    nav {
      display: flex;
      align-items: center;
    }

    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background-color: #131313;
      color: #fff;
    }

    header {
      background-color: #131313;
      color: #fff;
      padding: 15px 20px;
    }

    .header-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
      margin: 0 auto;
    }

    .menu {
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .menu li {
      margin: 0 15px;
    }

    .menu li a {
      color: #fff;
      text-decoration: none;
      font-size: 18px;
      padding: 10px 15px;
      transition: background-color 0.3s ease;
    }

    .menu li a:hover {
      background-color: #131313;
      border-radius: 5px;
    }
</style>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Объект всеобщей ненависти</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="icon" type="image/x-icon" href="../assets/favicon.ico">
</head>
<body>
  <header>
    <div class="header-content">
      <div class="logo">
        <img src="../assets/logo.png" alt="Логотип">
        <span>Объект всеобщей ненависти</span>
      </div>
      <nav>
        <ul class="menu">
          <li><a href="#">Главная</a></li>
          <li><a href="#team">Команда проекта</a></li>
          <li><a href="#releases">Поддержать</a></li>
          <li><a href="#">Контакты</a></li>
        </ul>
      </nav>
    </div>
  </header>